swagger: '2.0'
schemes:
  - https
host: api.github.com
basePath: /
info:
  description: >
    Powerful collaboration, code review, and code management for open source and
    private projects.
  termsOfService: 'https://help.github.com/articles/github-terms-of-service/#b-api-terms'
  title: GitHub
  version: v3
  x-apisguru-categories:
    - collaboration
    - developer_tools
  x-logo:
    url: >-
      https://api.apis.guru/v2/cache/logo/https_twitter.com_github_profile_image.jpeg
  x-origin:
    - format: swagger
      url: >-
        https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml
      version: '2.0'
  x-preferred: true
  x-providerName: github.com
  x-unofficialSpec: true
externalDocs:
  url: 'https://developer.github.com/v3/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth_2_0:
    authorizationUrl: 'https://github.com/login/oauth/authorize'
    description: >
      OAuth2 is a protocol that lets external apps request authorization to
      private

      details in a user's GitHub account without getting their password. This is

      preferred over Basic Authentication because tokens can be limited to
      specific

      types of data, and can be revoked by users at any time.
    flow: accessCode
    scopes:
      'admin:org': ''
      'admin:org_hook': ''
      'admin:public_key': ''
      'admin:repo_hook': ''
      delete_repo: ''
      gist: ''
      notifications: ''
      public_repo: ''
      'read:org': ''
      'read:public_key': ''
      'read:repo_hook': ''
      repo: ''
      'repo:status': ''
      repo_deployment: ''
      user: ''
      'user:email': ''
      'user:follow': ''
      'write:org': ''
      'write:public_key': ''
      'write:repo_hook': ''
    tokenUrl: 'https://github.com/login/oauth/access_token'
    type: oauth2
